@model ProjectWork.ViewModels.Projects.AddProjectViewModel

@{
    ViewData["Title"] = "Add new project";
    Layout = "_Layout";
}

<form asp-controller="Projects" asp-action="Add" style="width: 50%;margin: 0 auto;">
    <div class="form-group">
        <label>Project name</label>
        <input type="text" asp-for="AddProjectForm.Name" class="form-control">
        <span asp-validation-for="AddProjectForm.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Customer Company Name</label>
        <input type="text" asp-for="AddProjectForm.CustomerCompanyName" class="form-control">
        <span asp-validation-for="AddProjectForm.CustomerCompanyName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Executive Company Name</label>
        <input type="text" asp-for="AddProjectForm.ExecutiveCompanyName" class="form-control">
        <span asp-validation-for="AddProjectForm.ExecutiveCompanyName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Project Manager</label>
        <select class="form-select" asp-for="AddProjectForm.ProjectManagerId" asp-items="Model.EmployeesListItems"></select>
    </div>
    <div class="form-group">
        <label>Employees</label>
        <select class="form-select" id="employee-ids-select-list" multiple="multiple" asp-for="AddProjectForm.EmployeesIds" asp-items="Model.EmployeesListItems"></select>
    </div>
    <div class="form-group">
        <label>Date Start</label>
        <input type="date" asp-for="AddProjectForm.StartDate" class="form-control">
    </div>
    <div class="form-group">
        <label>Date End</label>
        <input type="date" asp-for="AddProjectForm.EndDate" class="form-control">
    </div>
    <div class="form-group">
        <label>Priority</label>
    </div>
    <select class="form-select" asp-for="AddProjectForm.Priority">
        <option value="">Select priority</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <div class="mt-3">
        <input type="submit" class="btn btn-success" value="Add" style="width: 100px"/>
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#employee-ids-select-list').select2();
        });
    </script>
}